extend layout

block content 
    h1= Manisha Reddy Arragari Computation
    p Welcome to #{Manisha Reddy Arragari Computation}
    p Math.pow() is applied to #{x} and #{y} is #{pow}
    p Math.sign() is applied to #{z} is #{sign}
    p Math.tanh() is applied to #{w} is #{tanh}
    p Math.trunc() is applied to #{v} is #{trunc}